/* 
Color Pallette
Black #071013
Grey #CED3DC
Grey Purple #ABA9C3
Yellow #ffdd4a
Blue #254E70*/
/*general styling classes*/
.background-black {
  background: #071013;
}

body {
  background: #071013;
  padding-top: 13vh;
  font-family: "Nunito", sans-serif;
}
@media (max-width: 960px) {
  body {
    padding-top: 26vh;
  }
}
.mini-nav {
  color: #ced3dc !important;
}
.mini-nav:hover {
  color: #ffdd4a !important;
}

/*navbar*/
.custom-logo {
  max-height: 10vh;
  max-width: 25vh;
}
a {
  color: #ced3dc;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #ced3dc;
}
.hover__phone:hover {
  border: 0.1rem solid #aba9c3;
  text-decoration: none;
  padding: 5px;
  color: #ced3dc;
}
.booking__btn {
  color: #ced3dc;
  border: 0.1rem solid #aba9c3;
  background: transparent;
}
.booking__btn:hover {
  background: #ced3dc;
  color: #071013;
}
/*info section*/
#info {
  min-height: 80vh;
}
.background-yellow-photo {
  background: linear-gradient(rgba(255, 221, 74, 0.9), rgba(91, 109, 143, 0.9)),
    url(Photos/background-info.jpg) center/cover fixed no-repeat;
}
@media (min-width: 960px) {
  .center-custom {
    height: 13vh;
  }
}

.title-underline__main {
  width: 12rem;
  height: 0.3rem;
  margin: 0 auto;
  position: relative;
  border-radius: 2rem;
  background: #ffdd4a;
}
.title-underline__center {
  position: absolute;
  height: 0.3rem;
  background: #ced3dc;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}
#map-contact {
  min-height: 40vh;
  background: #ced3dc;
}
/*Map and Info Section*/
.border-yellow {
  background: #ffdd4a;
}
.contact-yellow-photo {
  background: linear-gradient(rgba(255, 221, 74, 0.9), rgba(91, 109, 143, 0.9)),
    url(Photos/2t9a6252.jpg);
  background-position: right;
  background-size: 50%;
  background-attachment: fixed;
}
@media (max-width: 960px) {
  .contact-yellow-photo {
    background: #ffdd4a;
  }
}
.contact-click {
  color: #071013 !important;
}
.contact-click:hover {
  color: #ced3dc !important;
}
/*Rooms Section*/

.main-room {
  color: #ced3dc;
  background-color: #254e70;
}
.alt-room {
  color: #ced3dc;
  background-color: #071013;
}

.list-font-size {
  font-size: 1.3rem;
  list-style: none;
}
.li-am:before {
  content: "•   ";
  color: #ffdd4a;
  padding-right: 5px;
}
.ul-am {
  list-style: none;
}
